.Mercúrio {
  width: 41px;
  height: 31px;
  margin: 15px;
}

.Mercúrio:hover {
  width: 50px;
  height: 40px;
  cursor: pointer;
}

.Mercúrio-text {
  margin: 15px;
  margin-top: 80px;
}

.Vênus {
  width: 102px;
  height: 76px;
  margin: 15px;
}

.Vênus:hover {
  width: 112px;
  height: 86px;
  cursor: pointer;
}

.Vênus-text {
  margin: 15px;
  margin-top: 60px;
}

.Terra {
  width: 106px;
  height: 79px;
  margin: 15px;
}

.Terra:hover {
  width: 116px;
  height: 89px;
  cursor: pointer;
}

.Terra-text {
  margin: 15px;
  margin-top: 60px;
}

.Marte {
  width: 66px;
  height: 50px;
  margin: 15px;
  cursor: pointer;
}

.Marte:hover {
  width: 76px;
  height: 60px;
}

.Marte-text {
  margin: 15px;
  margin-top: 70px;
}

.Júpiter {
  width: 272px;
  height: 204px;
  margin: 15px;
}

.Júpiter:hover {
  width: 282px;
  height: 214px;
  cursor: pointer;
}

.Júpiter-text {
  margin: 15px;
}

.Saturno {
  width: 282.41px;
  height: 210.9px;
  margin: 0px;
}

.Saturno:hover {
  width: 292.41px;
  height: 220.9px;
  cursor: pointer;
}

.Saturno-text {
  margin-top: 0px;
  margin: 15px;
}

.Urano {
  width: 144px;
  height: 109px;
  margin: 15px;
}

.Urano:hover {
  width: 154px;
  height: 119px;
  cursor: pointer;
}

.Urano-text {
  margin: 15px;
  margin-top: 40px;
}

.Netuno {
  width: 144px;
  height: 107px;
  margin: 15px;
}

.Netuno:hover {
  width: 154px;
  height: 117px;
  cursor: pointer;
}

.Netuno-text {
  margin: 15px;
  margin-top: 40px;
}